<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
     <div class="row">
      <img class="home" src="img/home.png">

    </div>

    <div class="row no-gutter">
      <div class="col-50 pad-1per">
          <img width="100%" src="img/grid1.png">
          <div class="pink-box">
            <h3 class="dashboard-subheading">FAIR & LOVELY</h3>
            <h3 class="dashboard-heading">THE BRAND STORY</h3>
            <img class="right-arrow" src="img/right-arrow.png">
          </div>
      </div>

      <div class="col-50 pad-1per">
          <img width="100%" src="img/grid2.png">
          <div class="pink-box">
            <h3 class="dashboard-subheading">FAIR & LOVELY</h3>
            <h3 class="dashboard-heading">RELAUNCH DETAILS</h3>
            <img class="right-arrow" src="img/right-arrow.png">
          </div>
      </div>
    </div>  
    <div class="row no-gutter">
      <div class="col-50 pad-1per">
          <img width="100%" src="img/grid3.png">
          <div class="pink-box">
            <h3 class="dashboard-subheading">FAIR & LOVELY RELAUNCH</h3>
            <h3 class="dashboard-heading">BRIEFING SUPPORT</h3>
            <img class="right-arrow" src="img/right-arrow.png">
          </div>
      </div>

      <div class="col-50 pad-1per">
          <img width="100%" src="img/grid4.png">
          <div class="pink-box">
            <!-- <h3 class="dashboard-subheading">FAIR N LOVELY</h3> -->
            <h3 class="dashboard-heading">MISSION</h3>
            <h3 class="dashboard-heading">LASER PERFECT</h3>
            <img class="right-arrow" src="img/right-arrow.png">
          </div>
      </div>
    </div>

    <a ui-sref="app.relaunch">relaunch</a>

    </ion-content>
</ion-view>
