<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="page">
    
      <div class="page-content text-center pad-bot0">



        <img width="60%" src="img/mission.png">
        <!-- <div class="relaunch-heading-container">
              <h1 class="relaunch-subheading">FAIR & LOVELY:</h1>
              <h1 class="relaunch-heading">Salesmen briefing</h1>
              <p class="login-underline"></p>
        </div> -->

        <p class="pricing-text">The laser perfect launch needs laser perfect deployment. 
Here are your key sections for Mission Laser Perfect.</p>
  
        <div class="shadow-div">
            <img src="img/mission1.png">
        </div>
        <a href="">
          <p class="fullwidth-btn">Mission Laser Perfect <br> Task Tracker</p>
        </a>
        <div class="shadow-div">
            <img src="img/mission2.png">
        </div>
        <a href="">
          <p class="fullwidth-btn">showcase your <br> execution</p>
        </a>
        
        <a ui-sref="app.feeds">feeds</a>



  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
