<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="page">
    
      <div class="page-content text-center pad-bot0">

       <h1 class="mar-top8per font28">Mission Laser Perfect Task Tracker</h1>
       <p class="login-underline"></p>


       <div class="pad-3per">

       <div class="row laser-per">
          <div class="col-33">
            <a class="per-btn" href="">area leaderboard</a>
          </div>
          <div class="col-33">

            <img class="" src="img/user.png">
            <h1 class="mordern-black">MORDEN KEITH</h1>
            <p class="text-black font12">Mumbai</p>
          </div>
          <div class="col-33">
            <a class="per-btn" href="">field force leaderboard</a>
          </div>
       </div>

       <br>

       <div class="row text-center">
            <a class="elapsed" href="">Time Elapsed 30%</a>
       </div>

       <br>


       <p class="text-black mission-text">Check the status of your task progress</p>


       
       <div class="row percent-complete">
              <div class="col-50">
                <h1>PRIMARY SALES</h1>
                <p class="white-underline"></p>

                <p class="font16 text-white">
                  Lorem Ipsum is simply
                  dummy text of the printing
                  and  typesetting industry.
                </p> 

              </div>

              <div class="col-50 text-center">
                <p class="text-white">CIRCLE</p>
              </div>
       </div>

       <div class="row percent-complete">
              <div class="col-50">
                <h1>PRIMARY SALES</h1>
                <p class="white-underline"></p>

                <p class="font16 text-white">
                  Lorem Ipsum is simply
                  dummy text of the printing
                  and  typesetting industry.
                </p> 

              </div>

              <div class="col-50 text-center">
                <p class="text-white">CIRCLE</p>
              </div>
       </div>

       <div class="row percent-complete">
              <div class="col-50">
                <h1>PRIMARY SALES</h1>
                <p class="white-underline"></p>

                <p class="font16 text-white">
                  Lorem Ipsum is simply
                  dummy text of the printing
                  and  typesetting industry.
                </p> 

              </div>

              <div class="col-50 text-center">
                <p class="text-white">CIRCLE</p>
              </div>
       </div>

       <div class="row percent-complete">
              <div class="col-50">
                <h1>PRIMARY SALES</h1>
                <p class="white-underline"></p>

                <p class="font16 text-white">
                  Lorem Ipsum is simply
                  dummy text of the printing
                  and  typesetting industry.
                </p> 

              </div>

              <div class="col-50 text-center">
                <p class="text-white">CIRCLE</p>
              </div>
       </div>

      


       


       </div>



       <!-- <div class="row laser-per">
          <div class="col-50 text-left">
            <img  class="float-left user-pad" src="img/user.png">
            <div class="">
              <h1>MORDEN KEITH</h1>
              <p>Mumbai</p>              
            </div>
          </div>
          <div class="col-50">
            <a class="per-btn" href="">MY PERFORMANCE UPDATE</a>
          </div>
       </div>
 -->

      



       
      </div>
      <!-- <a href="story.html">story</a> -->


            <div class="width100 text-right">
                <img class="backtotop text-right" src="img/backtotop.png">
            </div>

  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
