<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="page">
  <div class="page-content text-center pad-bot0">

        <div class="relaunch-heading-container">
              <h1 class="relaunch-subheading">FAIR & LOVELY:</h1>
              <h1 class="relaunch-heading">RELAUNCH DETAILS</h1>
              <p class="login-underline"></p>
        </div>

        <p class="relaunch-text text-black">
          We have provided the best fairness solutions to our consumers by 
          challenging the fairness benchmarks across decades.
          Come 2017, we have found a new benchmark - Laser Light Treatment.
          Skin Experts around the world consider Laser light treatment as one of the most effective skin lightening treatments available currently. 
          Fair & Lovely Advanced Multi Vitamin Cream now gets this technology
          in a cream. Watch this video to know more.
        </p>

        <h1 class="main-heading">RELAUNCH VIDEO</h1>
        <div class="video-container">
          <img class="fullwidth" src="img/relaunch-video1.png">
          <img class="download" src="img/download.png">
        </div>
        <h1 class="main-heading">SEE OUR NEW TVC</h1>
        <div class="video-container">
          <img class="fullwidth" src="img/relaunch-video2.png">
          <img class="download" src="img/download.png">

        </div>

        <h1 class="main-heading mar-bot0">PRICING</h1>
        <p class="login-underline"></p>
        <p class="pricing-text text-black">All you need to know about the product</p>



        
        <div class="pinkbg">

<!--             <div class="owl-carousel owl-theme">
                <div>
                  <img class="fullwidth" src="img/relaunch-video1.png">
                </div>
                <div>
                  <img class="fullwidth" src="img/relaunch-video1.png">
                </div>
                <div>
                  <img class="fullwidth" src="img/relaunch-video1.png">
                </div>
                <div>
                  <img class="fullwidth" src="img/relaunch-video1.png">
                </div>
                <div>
                  <img class="fullwidth" src="img/relaunch-video1.png">
                </div>
                <div>
                  <img class="fullwidth" src="img/relaunch-video1.png">
                </div>
            </div> -->


            <h1 class="main-heading mar-top8per text-white mar-bot1per">ABOUT THE RELAUNCH:</h1>
            <p class="pricing-text text-white mar-2per">Hear what the ED Customer Development has to say</p>
            <p class="about-white-underline"></p>
            <br>

            <div class="video-container">
              <img class="fullwidth" src="img/relaunch-video3.png">
            </div>


            <div class="width100 text-right">
                <img class="backtotop text-right" src="img/backtotop.png">
            </div>

        


        </div>


        <a ui-sref="app.story">story</a>



  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
