<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="page">
    
      <div class="page-content text-center pad-bot0">

        <div class="relaunch-heading-container">
              <h1 class="relaunch-heading">rssm briefing</h1>
              <p class="login-underline"></p>
        </div>



        <div class="ulfullwidth">
          <p>
            <img src="img/square.png">
            Explain the importance of Fair & Lovely to the salesforce
          </p>

          <p>
            <img src="img/square.png">
            Tell them the contribution of Fair & Lovely to their RS point
          </p>

          <p>
            <img src="img/square.png">
            Tell them how profitable the brand is
          </p>
        </div>


        <h1 class="main-heading mar-bot1per">RELAUNCH VIDEO</h1>
        <p class="login-underline"></p>
        <p class="pricing-text">Show them the relaunch video & explain the packaging change</p>

        <div class="video-container">
          <img class="fullwidth" src="img/relaunch-video1.png">
          <img class="download" src="img/download.png">
        </div>



        <h1 class="main-heading mar-bot1per">SEE OUR NEW TVC</h1>
        <p class="login-underline"></p>
        <p class="pricing-text">Show them the new TVC</p>
        <div class="video-container">
          <img class="fullwidth" src="img/relaunch-video2.png">
          <img class="download" src="img/download.png">
        </div>

        
        <h1 class="main-heading mar-bot1per">Mission Laser Perfect Tasks</h1>
        <p class="login-underline"></p>
        <p class="pricing-text">Explain their tasks to them</p>

  
        <a href="">
          <p class="btn-task">TASK 1</p>
        </a>
        <h1 class="main-heading mar-bot1per">Secondary sales</h1>
        <b><p class="pricing-text">Give them their secondary targets</p></b>


        <a href="">
          <p class="btn-task">TASK 2</p>
        </a>
        <h1 class="main-heading mar-bot1per">Distribution targets</h1>
        <b><p class="pricing-text">Explain the Eco targets and Reco targets</p></b>


        <a href="">
          <p class="btn-task">TASK 3</p>
        </a>
        <h1 class="main-heading mar-bot1per">Visibility</h1>
        <b><p class="pricing-text">Put up the visibility as per the instructions below</p></b>

        <h1 class="small-heading mar-bot3per">Instructions for Visibility</h1>



        <div class="border-ul border-p">
          <p>
            <img src="img/square.png">
            Put up the poster in prominent & eye level position in the outlet.
          </p>

          <p>
            <img src="img/square.png">
            Put the hanger in front of the shop in a prominent position.
          </p>

          <p>
            <img src="img/square.png">
            Hang the sachets or put the 25g tube in the sleeve as per the task for each outlet.
          </p>

          <p>
            <img src="img/square.png">
            Go to your outlet screen on the HHT.
          </p>

          <p>
            <img src="img/square.png">
            Enter 6 digit code given on the hanger in HHT.
          </p>

        </div>


        <div class="row comp"> 
          <div class="col-50 pad-right2per">
            <img class="fullwidth" src="img/comp1.png">
          </div>
          <div class="col-50 pad-left2per">
            <img class="fullwidth" src="img/comp2.png">
          </div>
        </div>


        

        <div class="width100 text-right">
                <img class="backtotop text-right" src="img/backtotop.png">
        </div>

        <a ui-sref="app.salesmen">salesmen</a>



  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
