<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="page">
    
      <div class="page-content text-center pad-bot0">

        <div class="relaunch-heading-container">
              <h1 class="relaunch-heading">Salesmen briefing</h1>
              <p class="login-underline"></p>
        </div>

        <p class="pricing-text mar-bot10per">This section has all the support required to brief the
RS salesforce and the retailers.</p>
  
        <div class="shadow-div">
          <img src="img/sales1.png">
        </div>
        <a href="">
          <p class="fullwidth-btn">RSSM Briefing</p>
        </a>
        <div class="shadow-div">
            <img src="img/sales2.png">
        </div>
        <a href="">
          <p class="fullwidth-btn">trade briefing</p>
        </a>
        
        <a ui-sref="app.mission">mission</a>



  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
