<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="page">

 
  <div class="page-content text-center pad-bot0">

        <div class="relaunch-heading-container">
              <h1 class="relaunch-subheading">FAIR & LOVELY:</h1>
              <h1 class="relaunch-heading">THE BRAND STORY</h1>
              <p class="login-underline"></p>
        </div>

        <p class="relaunch-text text-black">
            Fair & Lovely Advanced Multi Vitamin has been a pioneer in safe and effective skin lightening since 1975.
            We have led the way for the fairness segment by constantly 
            innovating our product and setting the standards for fairness in India.
        </p>

        <h1 class="main-heading" style="
    margin-bottom: 35%;
">VIDEO HEADING</h1> 


        <div class="story-pinkbg">

            <div class="video-container half-video">
              <img class="fullwidth" src="img/relaunch-video1.png">
              <img class="download" src="img/download.png">
            </div>

        </div>

        <a ui-sref="app.trade">trade</a>


  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
