<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
       <div class="page">


  <div class="page-content">
    
    <a href="third.html">index app</a>


  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
