<ion-view view-title='<img src="img/menu-logo.png" class="logo-menu">' align-title="center" hide-nav-bar="true"  animation="slide-left-right" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="page">



  <div class="page-content text-center pad-bot0">

        <div class="relaunch-heading-container">
              <h1 class="relaunch-subheading">FAIR & LOVELY:</h1>
              <h1 class="relaunch-heading">TRADE BRIEFING</h1>
              <p class="login-underline"></p>
        </div>

        <div class="ul">
          <p class="text-black">
            <img src="img/square.png">
            Tell about the relaunch.
          </p>

          <p class="text-black">
            <img src="img/square.png">
            Show them the new packaging change.
          </p>

          <p class="text-black">
            <img src="img/square.png">
            Talk about the new communication.
          </p>

        </div>




        <h1 class="main-heading mar-bot1per">RELAUNCH VIDEO</h1>
        <p class="login-underline"></p>
        <p class="pricing-text text-black">Show them the relaunch AV & then the TVC</p>

        <div class="video-container">
          <img class="fullwidth" src="img/relaunch-video1.png">
          <img class="download" src="img/download.png">
        </div>

        <h1 class="main-heading">SEE OUR NEW TVC</h1>
        <div class="video-container">
          <img class="fullwidth" src="img/relaunch-video2.png">
          <img class="download" src="img/download.png">
        </div>

        
        <h1 class="main-heading mar-bot1per">the new schemes & pricing</h1>
        <p class="login-underline"></p>
        <p class="pricing-text text-black">Brief the retailer about the new schemes & pricing change</p>



        <div class="pad-5per">
          



        <div class="row table-header">
          <h1 class="text-white mar-auto pad-3per">INCREASE ECO PACKS</h1>
        </div>




        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>CODE</p>
          </div>
          <div class="col-25">
              <p>12752</p>
          </div>
          <div class="col-25">
              <p>12419</p>
          </div>
          <div class="col-25 border-right">
              <p>12025</p>          
          </div>
        </div>


        


        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>PACK SIZE</p>
          </div>
          <div class="col-25">
              <p>4.5g</p>
          </div>
          <div class="col-25">
              <p>15g</p>
          </div>
          <div class="col-25 border-right">
              <p>80g</p>          
          </div>
        </div>


        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>MRP</p>
          </div>
          <div class="col-25">
              <p>5/-</p>
          </div>
          <div class="col-25">
              <p>25/-</p>
          </div>
          <div class="col-25 border-right">
              <p>137/-</p>          
          </div>
        </div>

        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>MARGIN</p>
          </div>
          <div class="col-25">
              <p>10%</p>
          </div>
          <div class="col-25">
              <p>10%</p>
          </div>
          <div class="col-25 border-right">
              <p>10%</p>          
          </div>
        </div>

        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>TUR</p>
          </div>
          <div class="col-25">
              <p>4.55</p>
          </div>
          <div class="col-25">
              <p>22.73</p>
          </div>
          <div class="col-25 border-right">
              <p>124.55</p>          
          </div>
        </div>

        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>SCHEMES</p>
          </div>
          <div class="col-25">
              <p>8%</p>
          </div>
          <div class="col-25">
              <p>5.55%</p>
          </div>
          <div class="col-25 border-right">
              <p>1.45%</p>          
          </div>
        </div>

        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>NET</p>
          </div>
          <div class="col-25">
              <p>4.18</p>
          </div>
          <div class="col-25">
              <p>21.47</p>
          </div>
          <div class="col-25 border-right">
              <p>122.74</p>          
          </div>
        </div>

        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>Case Count</p>
          </div>
          <div class="col-25">
              <p>576</p>
          </div>
          <div class="col-25">
              <p>144</p>
          </div>
          <div class="col-25 border-right">
              <p>36</p>          
          </div>
        </div>

        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>Case Val</p>
          </div>
          <div class="col-25">
              <p>2409</p>
          </div>
          <div class="col-25">
              <p>3091</p>
          </div>
          <div class="col-25 border-right">
              <p>4419</p>          
          </div>
        </div>


        <div class="row table-border no-gutter">
          <div class="col-25">
              <p>1 strip NET</p>
          </div>
          <div class="col-25">
              <p>50.18(12Pcs)</p>
          </div>
          <div class="col-25">
              <p>85.86 (4Pcs)</p>
          </div>
          <div class="col-25 border-right">
              <p>WS STPR</p>          
          </div>
        </div>




        </div>


        <br>
        <br>

        <div>
            <p class="no-mar">15g - SLAB STPR on 6 units & Above</p>
            <p class="no-mar botted-underline"></p>
            <p class="no-mar">80g - WS SLAB STPR  on 1cs & 5 Cs Above</p>
        </div>

        

        <div class="width100 text-right">
                <img class="backtotop text-right" src="img/backtotop.png">
        </div>

        <a ui-sref="app.rssm">rssm</a>



  </div>

<!--   <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 3</a>
      <a href="#" class="link">Link 4</a>
    </div>
  </div> -->

</div>
    </ion-content>
</ion-view>
